verify-account {
  
  
  display: block;
  overflow-y: hidden;
  div {
    background-color: #000 !important;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    height: 100%;
    
  }

  img {
    margin-top: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
  }

  
  .item {
    margin-bottom: 8px;
    border-radius: 2px;
  }

  .button {
    margin-bottom: 8px;
  }

  .message {
    color: #f53d3d;
  }
}





