page-stock {
  h6 {
    font-size: 9px !important;
  }
  .fixed {
    
    
    
  }
  .comments {
    min-height: 30%;
    max-height: 40%;
    overflow-x: scroll;
    
  }
  .segment-button p {
    padding: 0;
    margin: 0;            
  }
  .segment-button {
    font-size: 10px !important;
    // display: inline;
    height: 60px;
  }

  canvas {
    margin-top: 12px;
    height: 180px !important;   
    z-index: 0 !important; 
  }

}
