page-stock {
  .fixed {
    position: absolute;
    width: 100%;
    height: 316px;
    
  }
  .comments {
    margin-top: 316px ;
    z-index: 0 !important;
    
  }
  .segment-button p {
    padding: 0;
    margin: 0;            
  }
  .segment-button {
    font-size: 10px !important;
    // display: inline;
    height: 60px;
  }

  canvas {
    margin-top: 12px;
    height: 180px !important;
    z-index: 0;
  }

}
