page-stock {
  .segment-button p {
    padding: 0;
    margin: 0;            
  }
  .segment-button {
    font-size: 10px !important;
    // display: inline;
    height: 60px;
  }

  canvas {
    margin-top: 12px;
  }

}
